<header>
    <div class="logo">
        <img src="../../../assets/imagenes/DRINK MASTER-2.jpg" alt="logo_drink">
    </div>

</header>

<div class="container mt-4 position-relative">
    <div class="row">
        <!-- Barra superior con nombre de usuario, botón de logout y carrito -->
        <div class="col-12 d-flex justify-content-between align-items-center mb-3">
            <div class="row col-7 align-content-center align-items-center">
                <h4 class="col-auto">
                    Bienvenido, <b class="text-black">{{ username.username }}</b>
                </h4>

                <a 
                [routerLink]="['/caja']" 
                class="col-auto" 
                *ngIf="username.rol_usuario == '1'">Ver caja</a>
                <a 
                [routerLink]="['/inventario']" 
                class="col-auto"
                *ngIf="username.rol_usuario == '1'"
                >Ver inventario</a>
                <a 
                [routerLink]="['/dashboard']" 
                class="col-auto">Ver productos</a>
            </div>

            <div class="d-flex align-items-center">

                <i class="bi bi-slash-lg pe-4 me-2"></i>

                <button class="btn text-danger me-3" (click)="logout()">Cerrar sesión</button>

            </div>
        </div>
    </div>

    <h1>Inventario</h1>

    <div class="inventory-category-container"></div>

    <!-- Bloque Bebidas -->
    <div class="category-block">
        <h2>Bebidas</h2>
        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Stock</th>
                    <th>Ingresar</th>
                    <th>Fecha Ingreso</th>
                    <th>Total</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of p_bebidas">
                    <td>{{ product.nombre_producto }}</td>
                    <td>{{ product.stock_producto }}</td>
                    <td><input type="number" min="0" placeholder="Cantidad" [(ngModel)]="product.cantidad_a_agregar">
                    </td>
                    <td><input type="date"></td>
                    <td>{{ product.stock_producto }}</td>
                    <td><button class="add-btn" (click)="upStockProduct(product)">Agregar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Bloque Cervezas -->
    <div class="category-block">
        <h2>Cervezas</h2>
        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Stock</th>
                    <th>Ingresar</th>
                    <th>Fecha Ingreso</th>
                    <th>Total</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of p_cervezas">
                    <td>{{ product.nombre_producto }}</td>
                    <td>{{ product.stock_producto }}</td>
                    <td><input type="number" min="0" placeholder="Cantidad" [(ngModel)]="product.cantidad_a_agregar">
                    </td>
                    <td><input type="date"></td>
                    <td>{{ product.stock_producto }}</td>
                    <td><button class="add-btn" (click)="upStockProduct(product)">Agregar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Bloque Cócteles -->
    <div class="category-block">
        <h2>Cócteles</h2>
        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Stock</th>
                    <th>Ingresar</th>
                    <th>Fecha Ingreso</th>
                    <th>Total</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of p_cocteles">
                    <td>{{ product.nombre_producto }}</td>
                    <td>{{ product.stock_producto }}</td>
                    <td><input type="number" min="0" placeholder="Cantidad" [(ngModel)]="product.cantidad_a_agregar">
                    </td>
                    <td><input type="date"></td>
                    <td>{{ product.stock_producto }}</td>
                    <td><button class="add-btn" (click)="upStockProduct(product)">Agregar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Bloque Licores -->
    <div class="category-block">
        <h2>Licores</h2>
        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Stock</th>
                    <th>Ingresar</th>
                    <th>Fecha Ingreso</th>
                    <th>Total</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of p_licores">
                    <td>{{ product.nombre_producto }}</td>
                    <td>{{ product.stock_producto }}</td>
                    <td><input type="number" min="0" placeholder="Cantidad" [(ngModel)]="product.cantidad_a_agregar">
                    </td>
                    <td><input type="date"></td>
                    <td>{{ product.stock_producto }}</td>
                    <td><button class="add-btn" (click)="upStockProduct(product)">Agregar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>