header{
    text-align: center;
    /* box-shadow: 0 2px 15px rgba(0, 0, 0, 0.712); */
    padding: 8px 0;
    /* background-color: black; */
    margin: 10px 50px 25px 50px;
    /* border-radius: 15px; */
    
}

.logo img{
    height: 180px;
    width: 95%;
    padding: 10px;
    position: relative;
    border-radius: 15px;
    margin-bottom: 25px;
    object-fit: contain;
    mix-blend-mode: exclusion;
    background: #333333;
    box-shadow: 0px 0px 10px 1px #ffffff6e;
    
}



.card{height:100%}
.card img{
    height: 200px;
    object-fit: contain;
    mix-blend-mode: multiply;
    background: #f7f7f7;
}

.stock {
    right: 20px;
    top: 0px;
    background: #08a71a;
    color: white;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: bold;
}

.stock-danger{
    background-color: #d00f0f !important;
}

.product-card .card {
    border: 0px;
    box-shadow: 10px 10px 12px 0px #00000014;
    border: 1px solid #00000012;
}

button{
    cursor: pointer;
}

.cart{
    cursor: pointer;
    margin-right: 40px;
}

.bi-cart-fill {
    font-size: 24px;
  }
  
  .badge {
    font-size: 14px;
    padding: 5px;
  }

